.NavMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.NavigationLinks {
  display: flex;
  flex-grow: 1;
  gap: 40px;
}

.NavLink {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

.IconButton {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  color: #0290ff;
}

.Logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}
