@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --Roboto: "Roboto Slab", serif;
  --Montserrat: "Montserrat", sans-serif;
}

body {
  background-color: #f5f6fa;
  padding: 3.5rem;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 1px #e8e8e8;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 0 3px #b3b0b0;
}

.container header .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.container header .left .brand {
  font-family: var(--Montserrat);
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

.container header .left .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.container header .left .menu li,
.container header .left .menu li:hover {
  cursor: pointer;
  font-family: var(--Montserrat);
  font-size: 13px;
  font-weight: 400;
  color: rgb(114, 108, 108);
}

.container header .left .menu li.active {
  color: #000;
}

.container header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #e8e8e8;
  color: #0290ff;
  cursor: pointer;
}

.container main {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: conic-gradient(blue 50%, red 0);
}

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: green;
  border-radius: 50%;
}
